.navbar {
    width: 15%;
    background-color: #34495e;
    color: white;
    padding-top: 20px;
    font-family: Arial, sans-serif;
    height: calc(100vh - 60px);
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    margin: 10px 0;
}

.navbar button {
    width: 100%;
    padding: 15px 20px;
    background: none;
    border: none;
    color: white;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
}

.navbar button:hover {
    background-color: #1abc9c;
    border-radius: 4px;
}
